.orderWrap {
  width: 100%;
  height: 100%;
  background: #f2f2f2;
  position: absolute;
}
.orderWrap .orderList {
  margin-top: 45px;
}
.orderWrap .orderList .orderItem {
  background: white;
  margin: 10px 10px;
  padding: 10px;
  border-radius: 15px;
}
.orderWrap .orderList .orderItem .goodInfo {
  display: flex;
  align-items: center;
}
.orderWrap .orderList .orderItem .goodInfo .goodImg {
  width: 100px;
  height: 100px;
}
.orderWrap .orderList .orderItem .goodInfo .goodDetail {
  margin-left: 10px;
  text-align: right;
}
.orderWrap .orderList .orderItem .goodInfo .goodDetail .price {
  font-size: 20px;
}
.orderWrap .orderList .orderItem .goodInfo .goodDetail .msgLine .msgItem {
  margin-left: 3px;
  opacity: 0.6;
}
.orderWrap .orderList .orderItem .goodInfo {
  margin-top: 10px;
}
.orderWrap .orderList .orderItem .goodInfo .imgList {
  width: 100%;
  height: 100px;
  display: inline;
  white-space: nowrap;
  overflow-x: scroll;
  float: left;
}
.orderWrap .orderList .orderItem .goodInfo .imgList .imgItem {
  width: 100px;
  height: 100px;
  margin-left: 10px;
}
.orderWrap .orderList .orderItem .goodInfo .goodTitle {
  font-size: 24px;
  margin-top: 10px;
}
.orderWrap .orderList .orderItem .footerWrap {
  text-align: right;
  display: flex;
  margin-top: 10px;
  align-items: center;
  justify-content: space-between;
}
.orderWrap .orderList .orderItem .footerWrap .concealCollect {
  border-radius: 30px;
  width: 100px;
  margin: 10px 0px 10px 0px;
  display: inline-block;
}
