.userPageWrap {
  width: 100%;
  height: 100%;
}
.userPageWrap .closeBtn {
  margin-top: 20px;
  margin-left: 20px;
}
.userPageWrap .closeBtn .close {
  font-size: 16px;
}
.userPageWrap .appTitle {
  font-size: 40px;
  text-align: center;
  margin-top: 10px;
  background-image: -webkit-linear-gradient(120deg, #ff7804, #ff670b);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.userPageWrap .verifyCodeInput {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 15px;
}
.userPageWrap .verifyCodeInput .verifyInput {
  text-indent: 60px;
  flex: 1;
}
.userPageWrap .verifyCodeInput .btnVerify {
  flex: 1;
  text-align: center;
}
.userPageWrap .formWrap {
  position: absolute;
  width: 95%;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
}
.userPageWrap .formWrap .titleWrap .title {
  font-weight: 400;
}
.userPageWrap .formWrap .titleWrap .label {
  color: rgba(0, 0, 0, 0.3);
}
.userPageWrap .formWrap .titleWrap .label .swtichBtn {
  color: #fe5102;
}
.userPageWrap .formWrap .operateWrap .form .info {
  color: red;
}
.userPageWrap .formWrap .operateWrap .submitBtn {
  margin-top: 30px;
  color: white;
  background: linear-gradient(#ff7e02, #ff600c);
  border-radius: 30px;
}
:global .userName {
  background: none !important;
}
