.btnGroupWrap {
  .btnGroupContainer {
    .btnGroup {
      display: flex;
      .concealCollect {
        margin-left: 5px;
      }
      .info {
        color: red;
      }
      .btn {
        display: flex;
        justify-content: space-between;
      }
      .conceal {
        margin-right: 5px;
      }
    }

  }
  .addPrice {
    .label {
      font-size: 20px;
    }

    .price {
      font-size: 24px;
    }
  }
  .freezeWrap {
    .info {
      color: red;
    }
  }
}
