.homeWrap .headerWrap {
  width: 100%;
  height: 136px;
  background: #fe4c17;
}
.homeWrap .headerWrap .top {
  display: flex;
  justify-content: center;
}
.homeWrap .headerWrap .top .left {
  flex: 1;
}
.homeWrap .headerWrap .top .left .title {
  font-size: 20px;
  margin-left: 5px;
  color: white;
}
.homeWrap .headerWrap .top .middle {
  flex: 1;
}
.homeWrap .headerWrap .top .right {
  flex: 1;
}
.homeWrap .headerWrap .searchBar {
  width: 100%;
  height: 48px;
}
.homeWrap .headerWrap .searchBar .search {
  position: relative;
}
.homeWrap .headerWrap .searchBar .search .searchInput {
  width: 100%;
  border-radius: 10px;
}
