.commodityWrap {
  margin-top: 3px;
  height: 100%;
  background: #f2f2f2;
}
.commodityWrap .commodityList {
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  border-radius: 10px;
  padding-bottom: 70px;
}
.commodityWrap .commodityList .commodityItem {
  background: #ffffff;
  width: 47%;
  padding: 10px;
  margin-top: 10px;
  margin-right: 5px;
  margin-left: 5px;
}
.commodityWrap .commodityList .commodityItem .img {
  width: 100%;
  height: auto;
}
.commodityWrap .commodityList .commodityItem .title {
  font-size: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin: 2px 0px;
}
.commodityWrap .commodityList .commodityItem .goodInfo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.commodityWrap .commodityList .commodityItem .goodInfo .price {
  font-size: 26px;
  color: #fc3c36;
  margin: 3px 3px;
}
.commodityWrap .commodityList .commodityItem .goodInfo .brose {
  margin: 0;
}
.commodityWrap .commodityList .commodityItem .userInfo .userAvatar {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
.commodityWrap .commodityList .commodityItem .userInfo .nickName {
  margin-left: 5px;
}
:global .list-view-section-body {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
:global .am-list-header {
  padding: 0px;
}
:global .am-list-view-scrollview-content {
  width: 100%;
}
.zIndex {
  z-index: -1;
}
